---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>	
		<section class="header">
			<img src="/logo.png" alt="Logo" />
			<h1 class="bubblegum-sans-regular">LINK DE GUE</h1>
			<p>Encurtador de links</p>
		</section>
		
		<section class="input-section">
			<input type="text" placeholder="Cole seu link aqui" />
			<button>Encurtar</button>
			<p>Link encurtado: <a href="#">https://linkdegue.com/1234567890</a></p>
		</section>

		<footer class="how-to-use">
			<span>Como utilizar</span>
			<p>1. Cole seu link no campo acima</p>
			<p>2. Clique em "Encurtar"</p>
			<p>3. Copie o link encurtado</p>
		</footer>
	</main>
</Layout>


<style>	
	.bubblegum-sans-regular {
		font-family: "Bubblegum Sans", sans-serif;
		font-weight: 400;
		font-style: normal;
	}

</style>