---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta property="og:image" content="/screenshot.png"/>
		<meta property="og:description" content="O encurtador de links mais brabo da internet">
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">		
		<title>Link de gue - encurtador de links</title>
		<details>O encurtador de links mais brabo da internet</details>
	</head>
	<body class="min-h-screen bg-gradient-to-b  bg-zinc-800">			
		<slot/>
	</body>
</html>

<style>
	html,
	body {
		background-color: #221D1D;
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Roboto", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-variation-settings:
			"wdth" 100;
	}
</style>
